<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Booker</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="header">
        <a  href="#" class="logo">
            <img src="../static/imagenes/logo.jpg" alt="logo">
        </a>
        <nav class="navbar">
            <a href="#inicio">Inicio</a>
            <a href="#sobrenosotros">Sobre Nosotros</a>
            <a href="#menu">Menú</a>
            <a href="#productos">Productos</a>
            <a href="#review">Review</a>
            <a href="#contacto">Contacto</a>
            <a href="#blog">Blog</a>
        </nav>

        <div class="iconos">
            <div class="fas fa-search" id="buscar-btn"></div>
            <div class="fas fa-shopping-cart" id="carrito-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
        <div class="buscar-formulario">
            <input type="search" id="buscar-box" placeholder="Buscar...">
            <label for="buscar-box" class="fas fa-search"></label>
        </div>
        <div class="carta-items-contenedor">
            <div class="carta-item">
                <span class="fas fa-times"></span>
                <img src="../static/imagenes/michelada-1.jpg" alt="carta-items">
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="precio">%15.99/-</div>
                </div>
            </div>
            <div class="carta-item">
                <span class="fas fa-times"></span>
                <img src="../static/imagenes/michelada-2.jpg" alt="carta-items" >
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="precio">%15.99/-</div>
                </div>
            </div>
            <div class="carta-item">
                <span class="fas fa-times"></span>
                <img src="../static/imagenes/jack daniels.jpg" alt="carta-items">
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="precio">%15.99/-</div>
                </div>
            </div>
            <div class="carta-item">
                <span class="fas fa-times"></span>
                <img src="../static/imagenes/black-label.jpg" alt="carta-items">
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="precio">%15.99/-</div>
                </div>
            </div>
            <a href="#" class="btn">Pagar ahora</a>
        </div>
    </header>

    <section class="inicio" id="inicio">
        <div class="contenido">
            <h3>Donde la música, los tragos y la buena compañía se encuentran</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae explicabo delectus dolor molestias quod natus quasi minima, obcaecati ad eligendi provident cupiditate harum. Voluptatibus hic sed libero deserunt nulla! Sequi!</p>
            <a href="#" class="btn">Haz tu pedido</a>
        </div>
    </section>

    <section class="sobre-nosotros" id="sobreNos">
        <h1 class="titulo"><span>Sobre </span>Nosotros</h1>
        <div class="fila">
            <div class="imagen">
                <img src="../static/imagenes/michelada-2.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>¿Que hace especial a nuestro bar?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim saepe nam nihil voluptatum beatae error facilis rerum pariatur soluta possimus, architecto est a unde temporibus nostrum quo neque nisi? Dolorum, quis.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nulla architecto itaque neque a deserunt fugiat suscipit. Unde dolorum deserunt quod dicta! Quae accusantium aliquid officiis placeat sed ullam amet!</p>
                <a href="#" class="btn">Leer más</a>
            </div>
        </div>
    </section>

    <section class="menu" id="menu">
        <h1 class="titulo">Lo mejor de <span>la barra</span></h1>
        <div class="box-contenedor">
            <div class="box">
                <img src="../static/imagenes/michelada-1.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <div class="box">
                <img src="../static/imagenes/michelada-2.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <div class="box">
                <img src="../static/imagenes/michelada-3.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <div class="box">
                <img src="../static/imagenes/michelada-4.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <div class="box">
                <img src="../static/imagenes/michelada-5.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <div class="box">
                <img src="../static/imagenes/black-label.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <div class="box">
                <img src="../static/imagenes/jack daniels.jpg" alt="">
                <h3>Producto 1</h3>
                <div class="precio">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
        </div>
    </section>

    <section class="productos" id="productos">
        <h1 class="titulo">Nuestros <span>productos</span></h1>
        <div class="box-contenedor">
            <div class="box">
                <div class="iconos">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="precio">$15.99 <span>$20.99</span></div>
                </div>
            </div>
            <div class="box">
                <div class="iconos">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="precio">$15.99 <span>$20.99</span></div>
                </div>
            </div>
            <div class="box">
                <div class="iconos">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="precio">$15.99 <span>$20.99</span></div>
                </div>
            </div>
            <div class="box">
                <div class="iconos">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <h3>Producto 1</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="precio">$15.99 <span>$20.99</span></div>
                </div>
            </div>
        </div>
    </section>

    <section class="review" id="review">
        <h1 class="titulo">Opiniones de <span>nuestros clientes</span></h1>
        <div class="box-contenedor">
            <div class="box">
                <img src="../static/imagenes/quote.png" alt="" class="cita">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque aliquam ea, doloribus deleniti corrupti officia eveniet placeat aut! Laborum quia quam numquam unde praesentium mollitia nisi necessitatibus eos dolores!</p>
                <img src="../static/imagenes/michelada-2.jpg" alt="" class="usuario">
                <h3>John Doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="../static/imagenes/quote.png" alt="" class="cita">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque aliquam ea, doloribus deleniti corrupti officia eveniet placeat aut! Laborum quia quam numquam unde praesentium mollitia nisi necessitatibus eos dolores!</p>
                <img src="../static/imagenes/michelada-2.jpg" alt="" class="usuario">
                <h3>John Doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="../static/imagenes/quote.png" alt="" class="cita">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque aliquam ea, doloribus deleniti corrupti officia eveniet placeat aut! Laborum quia quam numquam unde praesentium mollitia nisi necessitatibus eos dolores!</p>
                <img src="../static/imagenes/michelada-2.jpg" alt="" class="usuario">
                <h3>John Doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

    </section>

    <section class="contacto" id="contacto">
        <h1 class="titulo">Contactanos</h1>
        <div class="fila">
            <iframe class="mapa" src="https://www.google.com/maps/place/THE+BOOMKER/@9.298837,-75.399724,16z/data=!4m6!3m5!1s0x8e591568426c3071:0x72305b8ea3a3139f!8m2!3d9.2988368!4d-75.3997236!16s%2Fg%2F11rgfxh0kg?hl=es&entry=ttu&g_ep=EgoyMDI1MDkyOS4wIKXMDSoASAFQAw%3D%3D" allowfullscreen="" loading="lazy"></iframe>

            <form action="">
                <h3>Contactanos</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="nombre">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="email">
                </div>
                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="tel" placeholder="teléfono">
                </div>
                <input type="submit" value="Enviar mensaje" class="btn">
            </form>
        </div>
    </section>

    <section class="blog" id="blog">
        <h1 class="titulo">Nuestro <span>blog</span></h1>
        <div class="box-contenedor">
            <div class="box">
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <a href="#" class="titulo">Blog 1</a>
                    <span>por rocha / 1 de octubre, 2025</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ab iste voluptatum, eius molestiae non magnam quos labore reiciendis molestias cupiditate voluptatem, dolore sequi, vel quas minima temporibus. Laborum, eaque?</p>
                    <a href="#" class="btn">Leer más</a>
                </div>
            </div>
            <div class="box">
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <a href="#" class="titulo">Blog 1</a>
                    <span>por rocha / 1 de octubre, 2025</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ab iste voluptatum, eius molestiae non magnam quos labore reiciendis molestias cupiditate voluptatem, dolore sequi, vel quas minima temporibus. Laborum, eaque?</p>
                    <a href="#" class="btn">Leer más</a>
                </div>
            </div>
            <div class="box">
                <div class="imagen">
                    <img src="../static/imagenes/michelada-1.jpg" alt="">
                </div>
                <div class="contenido">
                    <a href="#" class="titulo">Blog 1</a>
                    <span>por rocha / 1 de octubre, 2025</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ab iste voluptatum, eius molestiae non magnam quos labore reiciendis molestias cupiditate voluptatem, dolore sequi, vel quas minima temporibus. Laborum, eaque?</p>
                    <a href="#" class="btn">Leer más</a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="share">
            <a href="" class="fab fa-facebook-f"></a>
            <a href="" class="fab fa-instagram"></a>
            <a href="" class="fab fa-whatsapp"></a>
        </div>
        <div class="links">
            <a href="#">Inicio</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Menú</a>
            <a href="#">Productos</a>
            <a href="#">Review</a>
            <a href="#">Contacto</a>
            <a href="#">Blog</a>
        </div>
        <div class="creditos">Creado por <span>Equipo 1</span> | Todos los derechos reservados</div>
    </section>


    <script src="../static/js/main.js">
    </script>
</body>
</html>